/* rem and em do NOT depend on html font size in media queries 
instead, 1rem = 1em = 16px */

/* BELOW 1344PX (SMALLER DESKTOP) */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* BELOW 1200PX (Landscape Tablet) */
/* 1200px / 16 = 75 so 75em */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  /* untuk baris di bawah sepertinya
 tidak perlu karna beda style */

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/* BELOW 1055px (Smaller Tablet) */
/* 1055px / 16 = 566 so 66em */
@media (max-width: 65em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .hero-text-box {
    width: 70%;
    /* justify-content: center; */
  }

  .delivered-imgs {
    justify-content: center;
  }

  .pizza-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    background-color: #fff7eb;

    grid-template-columns: 1fr;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

/* keep the distance */

/* yang dibawah ini dari AI */
/* @media (max-width: 768px) {
  .heading-primary {
    font-size: clamp(2.4rem, 5vw, 4.5rem);
    text-align: left;
  }
} */
